* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;

}



body {
  font-family: 'Roboto', sans-serif;
  display: block;
}

.App {
  display: grid;
  grid-template-rows: 60px auto 1fr;
}

.header-container {
  padding: 0 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  position: relative;
  align-items: center;
  padding: 6px;
  font-size: 13px;
  float: right;
  width: 20%;

}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}



ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

li {
  padding: 10px;
}

.options,
email {
  padding: 0 15px;
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
}

.option {
  color: black;
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.email {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}

.header-to-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
}

.image {
  width: 50%;
  height: 40%;
  margin: 0 auto;
  border-radius: 50%;
  margin-top: 80px;
}

img {
  max-width: 100%;
  margin: 0 auto;
  max-height: 100%;
  display: block;
  object-fit: contain;
}